*{
	padding:0;
	margin: 0;
}
a, a:hover, a:focus, a:active{text-decoration: none}
ul,li{
	list-style: none;
}
html{
	width:100%;
	height:100%;
}
body.full_screen{
	height:100%;
}
#site_container {
	width: 100%;
	background: red;
	overflow: hidden;
	height: calc(100% - 60px);
}
.site_nav_container{
	float: left;
	width: 200px;
	background: #009688;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
.page_container{
	float: left;
	width: calc(100% - 200px);
	background: white;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.page_container .page_header{
	height: 40px;
	background: #eaeaea;
	width: 100%;
	position: relative;
	border-bottom: 2px solid #999999;
}
.page_container .page_header .roll-nav{
	width: 50px;
	height: 100%;
	background: #cac5c3;
	outline: none;
	border: none;
	color: #717171;
	position: absolute;
	top:0;
}
.nav-dropdown{
	right: 0;
	width: 80px;
}
.J_tabLeft{
	left:0;
}
.J_tabRight{
	right: 81px;
}
.page_container .page_header .nav-dropdown{
	right: 0;
	width:80px;
}
.nav-dropdown button{
	width: 100%;
	height: 100%;
	outline: none;
	border: none;
}

/*导航*/
.nav_container{

}
.nav_container>li{
	border-bottom: 1px solid rgba(255, 255, 255, 0.28);
	overflow: hidden;
}
.nav_container>li a{
	color: #ffffff;
	padding:10px 15px;
	display: block;
}
.nav_list{
	background:rgb(5, 130, 118)
}
.nav_list li{

}
.nav_container .angle-icon{
	float: right;
}
ul.nav-second-level li a{
	padding: 5px 15px 5px 30px
}

.sidebar-collapse{
	width: auto;
	height: 100%;
	overflow: hidden;
}

.week_info{
	background: #058276;
	height: 60px;
	text-align: center;
	color: #fff;
	overflow: hidden;
}
.week_info h4{
	margin: 0;
	margin-top: 10px;
}
.week_info p{
	font-size: 13px;
	color: #e2e2e2;
	margin-top: 4px;
}






.page-tabs{
	margin-left: 50px;
	width: 100000px;
	height: 40px;
	overflow: hidden;
	line-height: 40px;
}
.page-tabs a{
	padding: 0 12px;
	background: #6f6f6f;
	color: #fff;
	border-left: 1px solid #e0e0e0;
	float: left;
}


.footer{
	position: absolute;
	width: 100%;
	background: white;
	bottom: 0;
	right: 0;
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #e7eaec;
}
.footer .pull-right{
	margin-right:12px;
}
.J_mainContent{
	height: calc(100% - 80px);
	width: 100%;
	overflow: hidden;
}
#toast-container{
	position: fixed;
	z-index: 198910222279;
	width: 300px;
	left: 50%;
	margin-left: -150px;
}

.site_top{
	height: 60px;
	width: 100%;
	background: white;
	overflow: hidden;
	border-bottom: 4px solid #FF5722;
}
.site_top .site_logo{
	float: left;
	height: 100%;
	overflow: hidden;
}
.site_top .site_logo>img{
	height: 50px;
}
.site_top .site_logout{
	float: right;
	height: 100%;
	line-height: 60px;
	margin-right: 10px;
}
.site_top .site_logout>a>i{
	font-size: 28px;
	color: #8a8a8a;
}
.site_top .site_logout>a>i:hover{
	color: red;
	text-decoration: none;
}
.hide_btn{
	width: 30px;
	float: right;
	font-size: 20px;
	height: 100%;
	line-height: 60px;
}
.hide_btn a{
	color:#4d6e99;
}
.site_logo img{
	display: block;
}
.site_logo span{
	display:none;
}
@media (max-width: 460px) {
	.site_logo img{
		display: none;
	}
	.site_logo span{
		display: block;
		line-height: 60px;
		font-size: 20px;
		margin-left: 10px;
	}
}






